<section>
    <div>
        <img src="<%= x.image_url %>">
        <h2>
            <%= x.title %>
        </h2>
        <h3>
            <%= x.author %>
        </h3>
        <p>
            <%= x.descr %>
        </p>
        <p>
            <%= x.isbn %>
        </p>
    </div>
</section>
