<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/base.css">
    <title>Document</title>
</head>
<body>
    <h1>Welcome</h1>
    <% x.forEach((value,index) =>{ %>
        <div>
            <img src="<%= value.image_url %>">
            <h2>
                <%= value.title %>
            </h2>
            <h3>
                <%= value.author %>
            </h3>
            <p>
                <%= value.descr %>
            </p>
        </div>
    <% }); %>
        <!-- display count -->
    <h1><%= y %></h1>
</body>
</html>


